<!DOCTYPE html>
<html>
	<body style="background-color:powderblue">

		<table>
			<tr>
				<th> <%= link_to 'Home', pages_home_path%> </th>
				<th> <%= link_to 'About', pages_about_path %> </th>
			</tr>
		</table>
		<h1 class="header">This is the about page<h1>

	</body>
</html>
