<!DOCTYPE html>
<html>
	<style>
		h1 {
			padding: 25px;
			background-color: rgba(255,0,0,0.5);
		}
		p {
			padding 15px;
			background-color: rgba(0,200,0,0.5);
		}
		.centeredImage {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
		.footer {
			padding: 65px;
			font-size: smaller;
			font-weight: bold;
			
		}
		.navigation{
			font-family: helvetica;
			padding-left: 25px;
		}
		a:link {
			text-decoration:none;
			color: black;
		}
		a:visited {
			text-decoration: none;
			color: black;
		}
	</style>

	<body style="background-color:powderblue">

		<table>
			<tr>
				<th class="navigation"> <%= link_to 'Home', pages_home_path %> </th>
				<th class="navigation"> <%= link_to 'About', pages_about_path %> </th>
			</tr>
		</table>


		<h1 style="text-align:center; font-family:helvetica;">Programming</h1>
		
		<img class="centeredImage" src="https://i.imgur.com/VuKnN5P.jpg" alt="Programming">
		<figcaption style="text-align:center" >Photo from https://i.imgur.com/VuKnN5P.jpg</figcaption>
		
		<p style="text-align:center">Computer programming is the process of designing and building
			an executable computer program for accomplishing a specific computing task. 
			Programming involves tasks such as: analysis, generating algorithms, 
			profiling algorithms' accuracy and resource consumption, and the 
			implementation of algorithms in a chosen programming language
			(commonly referred to as coding). The source code of a program 
			is written in one or more languages that are intelligible to
			programmers, rather than machine code, which is directly executed 
			by the central processing unit. The purpose of programming is to 
			find a sequence of instructions that will automate the performance 
			of a task (which can be as complex as an operating system) on a 
			computer, often for solving a given problem. The process of 
			programming thus often requires expertise in several different 
			subjects, including knowledge of the application domain, 
			specialized algorithms, and formal logic.</p>

		<footer> 
			<table>
				<tr>
					<td class="footer">Created: April 1st, 2019</td>
					<td class="footer">Modified: April 2nd, 2019</td>
					<td class="footer">Autho: Jose Martinez</td>
				</tr>
			</table>
		</footer>



	</body>


<html>
