<!DOCTYPE html>
<html>
	<body>

		<table>
			<tr>
				<th> <%= link_to 'Home', pages_home_path %> </th>
				<th> <%= link_to 'About', pages_about_path %> </th>
			</tr>
		</table>


		<h1 style="text-align:center">Welcome to Jose's Alpha blog</h1>


	</body>
<html>
