<!DOCTYPE html>
<html>
	<style>
		h1 {
			padding: 25px;
			background-color: rgba(255,0,0,0.5);
		}
		blockquote {
			padding 15px;
			background-color: rgba(100,150,50,0.5);
		}
		.centeredImage {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
		
		.navigation{
			font-family: helvetica;
			padding-left: 25px;
		}
		
	</style>

	<body style="background-color:powderblue">

		<!-- Jumbotron from bootstrap -->
		<div class="center jumbotron">
			<h1>Welcome to <br> Joshua Tree</h1>
			<p>Joshua Tree is a community of artists, musicians, working families, businesspeople, telecommuters and retirees.A National Park Visitors Center is located right off the main drag, so you can park there and check out the shops before you head to our backyard, Joshua Tree National Park.</p>
			<%= link_to 'Sign Up Now', "#", class: "btn btn-primary-green btn-lg btn-xlarge" %>
		</div>
		
		<!--- 
		<%= link_to image_tag('yuccawithsun.jpg', size: "500x500", class: "centeredImage"), 'http://localhost:3000'%>
		 --->
		<!--- <img class="centeredImage" src="https://i.imgur.com/VuKnN5P.jpg" alt="Programming">
					<figcaption style="text-align:center">Photo from https://i.imgur.com/VuKnN5P.jpg</figcaption>
		--->
		<!--
		<blockquote style="text-align:center">
			There is a famous quote from explorer Lt. Joseph C. Ives where 
			he describes his visit to that “profitless locality” and states 
			that it “shall be forever unvisited”. He was talking about Grand 
			Canyon. While some explorers gave moving descriptions of the 
			American West, not all were so enamored with the nature and 
			scenery they encountered. One of these explorers, John Freemont,
			described Joshua Tree National Park’s namesake as “the most
			repulsive tree in the vegetable kingdom.”
		</blockquote>
		-->
	</body>
<html>
