<div class="container">
	<footer class="footer">
		
		<small>
			Copyright &copy; <%= link_to 'Alpha Blog', root_path %> by Jose Martinez
		</small>

		<br>

		<nav>
			<table>
				<tr>
					<th><%= link_to 'Home', root_path %></th>
					<th><%= link_to 'About', about_path %></th> 
					<th><%= link_to 'Articles', articles_path %></th>
				</tr>
			</table>
		</nav>

	</footer>
</div>
